<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hello World</title>
</head>
<body>
<h1>Hello World!</h1>
<h2>From Docker and Sanic</h2>
<p>This service is running in a docker container with a virtual hostname of {{hostname}}.</p>
</body>
</html>
